<a href="https://colab.research.google.com/github/kalyankalluri999/Python_Practice/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Loops**

**While loop**

Action of plan while implementing While loops.

•	**Initialisation**

•	**Condition**

•	**Increment/Decrement**

In [23]:
i = 1 # initialization
while i < 8:  # Condition
  print("Welcome to Loops")
  i = i+1 # Increment/Decrement

Welcome to Loops
Welcome to Loops
Welcome to Loops
Welcome to Loops
Welcome to Loops
Welcome to Loops
Welcome to Loops

In [24]:
i = 4
while i>1:
  print('I want to decrement')
  i=i-1

I want to decrement
I want to decrement
I want to decrement

**Multiple while loops**

In [25]:
#Multiple while loops
i = 1
while i <4:
  print('Sai Kalyan')
  i = i+1
  j=1
  while j<10:
    print('Kalluri')
    j=j+1

Sai Kalyan
Kalluri
Kalluri
Kalluri
Kalluri
Kalluri
Kalluri
Kalluri
Kalluri
Kalluri
Sai Kalyan
Kalluri
Kalluri
Kalluri
Kalluri
Kalluri
Kalluri
Kalluri
Kalluri
Kalluri
Sai Kalyan
Kalluri
Kalluri
Kalluri
Kalluri
Kalluri
Kalluri
Kalluri
Kalluri
Kalluri

**Break Statement**

In [26]:
k = 1
while k < 6:
  print(k)
  if k == 3:
    break
  k += 1

1
2
3

**Continue Statement**

In [27]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

**Note:-** Number **3** is missing from the list

**Else Statement**

In [28]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# **For Loops**

In [29]:
my_list = ['Cardiff', 'Newcastle', 'London', 'Scotland', 'Leeds', 'Oxford']
for i in my_list :
  print(i)

Cardiff
Newcastle
London
Scotland
Leeds
Oxford

In [30]:
# Looping through string
for x in "Sai Kalyan Kalluri":
  print(x)

S
a
i

K
a
l
y
a
n

K
a
l
l
u
r
i

**Continue Statement**

In [31]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

**Break Statement**

In [32]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

**Exit the loop when x is "banana", but this time the break comes before the print:**

In [33]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

**Range**

In [34]:
for i in range(0,6):
  print(i)

0
1
2
3
4
5

In [35]:
for i in range(2,30,3):
  print(i)

2
5
8
11
14
17
20
23
26
29

**Else in For Loop**

In [36]:
for x in range(5):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
Finally finished!

***Note:*** The else block will NOT be executed if the loop is stopped by a break statement.

In [37]:
#Break the loop when x is 3, and see what happens with the else block:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

**Nested Loops**

In [38]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

**Pass**

In [39]:
for x in [0, 1, 2]:
  pass
# having an empty for loop like this, would raise an error without the pass statement