<a href="https://colab.research.google.com/github/kalyankalluri999/Python_Practice/blob/main/Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Arithmetic operators**

Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication and division.

There are 7 arithmetic operators in Python :

1.   Addition
2.   Subtraction
3.   Multiplication
4.   Division
5.   Modulus
6.   Exponentiation
7.   Floor division

In [ ]:
# Addition
a = 10
b = 20
c = a+b 
print (c)

30

In [ ]:
# Subtraction
A = 100
B = 90
C = A-B
print (C)

10

In [ ]:
# Multiplication
D = 10
E = 20
F = a*b 
print (F)

200

In [ ]:
# Division (Coefficent)
p = 25
q = 5 
r = p/q
print (r)

5.0

In [ ]:
#Modulus (Remainer)
p = 25
q = 5 
r = p%q
print (r)

0

In [ ]:
#Exponentiation
p = 25
q = 5 
r = p**q
print (r)

9765625

In [ ]:
#Floor division (It gives the floor value of the quotient produced by dividing the two operands.)
p = 25
q = 5 
r = p//q
print (r)

5

# **Assignment Operators**

The **assignment** operators are used to assign the value of the right expression to the left operand. The assignment operators are described in the below.

1.  "="   - It assigns the value of the right expression to the left operand.

2.  "+="	- It increases the value of the left operand by the value of the right operand and assigns the modified value back to left operand. For example, if a = 10, b = 20 => a+ = b will be equal to a = a+ b and therefore, a = 30.
 
3.  "-="	- It decreases the value of the left operand by the value of the right operand and assigns the modified value back to left operand. For example, if a = 20, b = 10 => a- = b will be equal to a = a- b and therefore, a = 10.

4.  "*="	- It multiplies the value of the left operand by the value of the right operand and assigns the modified value back to then the left operand. For example, if a = 10, b = 20 => a* = b will be equal to a = a* b and therefore, a = 200.

5.  "%="	- It divides the value of the left operand by the value of the right operand and assigns the reminder back to the left operand. For example, if a = 20, b = 10 => a % = b will be equal to a = a % b and therefore, a = 0.

6.  "**=" - a**=b will be equal to a=a**b, for example, if a = 4, b =2, a**=b will assign 4**2 = 16 to a.

7.  "//=" - A//=b will be equal to a = a// b, for example, if a = 4, b = 3, a//=b will assign 4//3 = 1 to a.

In [ ]:
# "=" Assigns values from right side operands to left side operand

a = 10
B = 5 
C = a+B # =	Assigns values from right side operands to left side operand
# Ex:- C = a + B assigns value of a + b into c

In [ ]:
# "+=" It adds right operand to the left operand and assign the result to left operand
l = 10
l += 5
print(l)

15

In [ ]:
# "-=" It subtracts right operand from the left operand and assign the result to left operand
k = 90
k -= 50
print (k)

40

In [ ]:
# "*=" It multiplies right operand with the left operand and assign the result to left operand
k = 90
k *= 50
print (k)

4500

In [ ]:
# "/="" It divides left operand with the right operand and assign the result to left operand
k = 90
k /= 50
print (k)

1.8

In [ ]:
k = 90
k *= 50
print (k)

4500

In [ ]:
# "%=" It takes modulus using two operands and assign the result to left operand
k = 90
k %= 50
print (k)

40

In [ ]:
# "**="Performs exponential (power) calculation on operators and assign value to the left operand
k = 90
k **= 50
print (k)

51537752073201133103646112976562127270210752200100000000000000000000000000000000000000000000000000

In [ ]:
# "//=" It performs floor division on operators and assign value to the left operand	
k = 90
k //= 50
print (k)

1

In [ ]:
# "&="

In [ ]:
# "|="

In [ ]:
# "^="

In [ ]:
# ">>="

In [ ]:
# "<<="

# **Comparison Operators**

**Comparison operators** are used to comparing the value of the two operands and returns Boolean true or false accordingly. The comparison operators are described below.

1. "=="	 -If the value of two operands is equal, then the condition becomes true.

2. "!="	 - If the value of two operands is not equal, then the condition becomes true.

3. "<="  - If the first operand is less than or equal to the second operand, then the condition becomes true.

4. ">="  - If the first operand is greater than or equal to the second operand, then the condition becomes true.

5.  ">"  - If the first operand is greater than the second operand, then the condition becomes true.

6.  "<"  - If the first operand is less than the second operand, then the condition becomes true.

In [14]:
k = 3
l = 3
print('Both numbers are equal:', k==l)

Both numbers are equal: True

In [15]:
L = 19
M = 21
print ('Both numbers are not equal:', L!=M)

Both numbers are not equal: True

In [19]:
y = 120
k = 220
print ("Both numbers are less than are equal to:", y<=k)

Both numbers are less than are equal to: True

In [20]:
y = 120
k = 220
print ("Both numbers are less than are equal to:", y>=k)

Both numbers are less than are equal to: False

In [22]:
o = 9
w = 18
print ('Given number W is greater than O :', w>o)

Given number W is greater than O : True

In [23]:
ex = 420
bf = 143
print ('Given BF is less than ex :', bf<ex)

Given BF is less than ex : True


# **Logical Operators**

The logical operators are used primarily in the expression evaluation to make a decision. Python supports the following logical operators.

1. add

2. or

3. not (Reverse the result, returns False if the result is true)

In [25]:
x = 21
y = 41
z = 51
print (x<y and y<z)

True

In [26]:
x<y or y<z

True

In [27]:
z = 9

print(not(z > 3 and z < 10))

False

# **Identity Operators**

**Identity operators** are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

1. **is** - It is evaluated to be true if the reference present at both sides point to the same object.
2. **is not** - It is evaluated to be true if the reference present at both sides do not point to the same object.

In [28]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is z) # returns True because z is the same object as x
print(x is y) # returns False because x is not the same object as y, even if they have the same content
print(x == y) # to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

# **Membership Operators**

Membership operators are used to test if a sequence is presented in an object:

1. **in** - Returns True if a sequence with the specified value is present in the object.	

2. **not in** - Returns True if a sequence with the specified value is not present in the object.

In [ ]:
x = ["apple", "banana"]
print("banana" in x)
# returns True because a sequence with the value "banana" is in the list

In [ ]:
x = ["apple", "banana"]
print("pineapple" not in x)
# returns True because a sequence with the value "pineapple" is not in the list

# **Bitwise Operators**

Bitwise operators are used to compare (binary) numbers:

1. & 	AND	- Sets each bit to 1 if both bits are 1.

2. |  OR	- Sets each bit to 1 if one of two bits is 1

3. ^	XOR	- Sets each bit to 1 if only one of two bits is 1.

4. ~ 	NOT	- Inverts all the bits.

5. <<	Zero fill left shift	
Shift left by pushing zeros in from the right and let the leftmost bits fall off.

6. "**>>**"	- Signed right shift	
Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off.